<h2>Library</h2>

<table id="table_id">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Autor</th>
            <th>Rate</th>
            <th>Pages</th>
            <th>Autor Atrr</th>
            <th></th>
            <th></th>
        </tr>
    </thead>    
    <tbody data-bind="foreach: books">
        <tr>
            <td data-bind="text: name"></td>
           @* <td><select data-bind="options: $root.availableMeals, value: meal, optionsText: 'mealName'"></select></td>*@
            <td data-bind="text: date"></td>            
            <td><a href="#" data-bind="click: $root.removeSeat, text: autor"></a></td>
            <td data-bind="text: rate"></td>
            <td data-bind="text: pages"></td>
            <td data-bind="text: autorAtrr"></td>
            <td><a href="#" data-bind="click: $root.editBook">Edit</a></td>
            <td><a href="#" data-bind="click: $root.removeBook">Remove</a></td>
        </tr>
    </tbody>
    <h3 data-bind="visible: totalSurcharge() > 0">
        Total surcharge: $<span data-bind="text: totalSurcharge()"></span>
    </h3>
    <button data-bind="click: addSeat, , enable: seats().length < 5">Reserve another seat</button>
</table>



