<h2>Library</h2>

<table id="table_id">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Autor</th>
            <th>Rate</th>
            <th>Pages</th>
            <th>Autor Atrr</th>
            <th></th>
            <th></th>
        </tr>
        <tr data-bind="visible: isEditBook">       
            <td><input type="text" data-bind="value: newBook.name" /></td>
            <td>
                <div class="input-group date" id="datetimepicker">
                    <input type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </td>
            <td><input type="text" data-bind="value: newBook.autor" /></td>
            <td><input type="text" data-bind="value: newBook.rate" /></td>
            <td><input type="text" data-bind="value: newBook.pages" /></td>
            <td><input type="text" data-bind="value: newBook.autorAtrr" /></td>
            <td></td>
            <td></td>
        </tr>

    </thead>
    <tbody data-bind="foreach: books">

        <tr>
            <td data-bind="text: name"></td>
            <td data-bind="text: date"></td>
            <td><a href="#" data-bind="click: $root.removeSeat, text: autor"></a></td>
            <td data-bind="text: rate"></td>
            <td data-bind="text: pages"></td>
            <td data-bind="text: autorAtrr"></td>
            <td><a href="#" data-bind="click: $root.editBook">Edit</a></td>
            <td><a href="#" data-bind="click: $root.removeBook">Remove</a></td>
        </tr>
    </tbody>
    <h3 data-bind="visible: totalSurcharge() > 0">
        Total surcharge: $<span data-bind="text: totalSurcharge()"></span>
    </h3>
    <button data-bind="click: addSeat, , enable: seats().length < 5">Reserve another seat</button>
</table>

