<h2>Library</h2>

<table id="table_id">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Autor</th>
            <th>Rate</th>
            <th>Pages</th>
            <th>Autor Atrr</th>
            <th></th>
            <th></th>
        </tr>
        <tr data-bind="visible: isEditBook">
            <td><input type="text" data-bind="value: editableBook.name" /></td>
            <td>
                <div class="input-group date" id="datetimepicker">
                    <input type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </td>
            <td><input type="text" data-bind="value: editableBook.autor" /></td>
            <td><input type="text" data-bind="value: editableBook.rate" /></td>
            <td><input type="text" data-bind="value: editableBook.pages" /></td>
            <td><input type="text" data-bind="value: editableBook.autorAtrr" /></td>
            <td>
                <button class="btn btn-success" data-bind="click: $root.updateBook">Save</button>
            </td>
            <td></td>
        </tr>

    </thead>
    <tbody data-bind="foreach:  {data: books, includeDestroyed: true  }">

        <tr>
            <td>
                <span data-bind="text: name"></span>
            </td>
            <td data-bind="text: date"></td>
            <td><a href="#" data-bind="click: $root.removeSeat, text: autor"></a></td>
            <td data-bind="text: rate"></td>
            <td data-bind="text: pages"></td>
            <td data-bind="text: autorAtrr"></td>
            <td><a href="#" data-bind="click: $root.editBook">Edit</a></td>
            <td><a href="#" data-bind="click: $root.removeBook">Remove</a></td>
        </tr>
    </tbody>
</table>







@*<h2>House Components</h2>

<div id='roomsList'>
    <table class='roomsEditor'>
        <tr>
            <th>Room Name</th>
            <th>Furnitures</th>
        </tr>
        <tbody data-bind="foreach: rooms">
            <tr class="well">
                <td valign="top">
                    <input type="text" data-bind='value: name' />
                    <div>
                        <button class="btn btn-danger" data-bind='click: $root.rooms.removeRoom'>Remove Room</button>
                    </div>
                </td>
                <td>
                    <table>
                        <tbody data-bind="foreach: furnitures">
                            <tr>
                                <td>
                                    <input type="text" data-bind='value: name' />
                                </td>
                                <td>
                                    <input type="text" data-bind='value: size' />
                                </td>
                                <td>
                                    <button class="btn btn-danger" data-bind='click: $parent.removeFurniture'>Delete Furniture</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success" data-bind='click: addFurniture'>Add Furniture</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    <button class="btn btn-success" data-bind='click: $root.rooms.addRoom'>Add Room</button>
    <button data-bind='click: save, enable: rooms().length > 0'>Save to JSON</button>
</p>
<textarea data-bind='value: lastSavedJson' rows='5' cols='60' disabled='disabled'></textarea>*@