<h2>Library</h2>
<button class="btn btn-primary" data-bind="click: $root.addBook">Add</button>
<table id="table_id">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Autor</th>
            <th>Rate</th>
            <th>Pages</th>
            <th>Autor Atrr</th>
            <th></th>
            <th></th>
        </tr>
        <tr data-bind="visible: isEditBook">
            <td><input type="text" data-bind="value: editableBook().name" />
            <td>
                <div class="input-group date" id="datetimepicker" style="width:150px">
                    <input type="text" class="form-control" data-bind="value: editableBook().date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </td>
            <td><input type="text" data-bind="value: editableBook().autor" /></td>
            <td><input type="text" data-bind="value: editableBook().rate" /></td>
            <td><input type="text" data-bind="value: editableBook().pages" /></td>
            <td><input type="text" data-bind="value: editableBook().autorAtrr" /></td>
            <td>
                <button class="btn btn-success" data-bind="click: $root.updateBook, visible:isEditBook">Save</button>
                <button class="btn btn-success" data-bind="click: $root.addNewBook, visible: isAddingBook">Save</button>
            </td>
            <td></td>
        </tr>

    </thead>
    <tbody data-bind="foreach: books">

        <tr>
            <td>
                <span data-bind="text: name"></span>
            </td>
            <td data-bind="text: date"></td>
            <td><a href="#" data-bind="click: $root.editAutor, text: autor" data-toggle="modal" data-target="#edit-autor-modal"></a></td>
            <td data-bind="text: rate"></td>
            <td data-bind="text: pages"></td>
            <td data-bind="text: autorAtrr"></td>
            <td><a href="#" data-bind="click: $root.editBook">Edit</a></td>
            <td><a href="#" data-bind="click: $root.removeBook">Remove</a></td>
        </tr>
    </tbody>
</table>






<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="edit-autor-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Autor attributes</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="firstName" class="control-label col-sm-3">First name</label>
                            <input type="text" name="firstName" class="col-sm-6" />
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="control-label  col-sm-3">Last name</label>
                            <input type="text" name="lastName" class="col-sm-6" />
                        </div>
                        <div class="form-group">
                            <label for="bookQuantity" class="control-label col-sm-3">Book quantity</label>
                            <input type="text" name="bookQuantity" class="col-sm-6" />
                        </div>
                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</div>


